{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "chrome": "45",
                    "safari": "10"
                },
                "exclude": [
                    "transform-regenerator",
                    "transform-async-to-generator"
                ],
                "modules": false,
                "useBuiltIns": "entry",
                "debug": false
            }
        ],
        "stage-1",
        "react"
    ],
    "plugins": [
        "lodash",
        "react-require",
        "add-react-displayname"
    ],
    "env": {
        "development": {
            "plugins": [
                "transform-decorators-legacy"
            ]
        },
        "production": {
            "plugins": [
                "external-helpers"
            ]
        }
    }
}
